

body, h2, h4, href, a, .header-content, .main-content, .links-content {
    padding: 0;
    border: 0;
    margin: 0;
//    background-color: #000066; 
 
}

href {
    background-color: #000066;
    color: white;
}

a {
    color: white;
//    text-align: center;
}

.header-content {
    background-color: #000066;
    color: white;
}

.main-content {
    background-color: #000066;
    color: white;
    text-align: center;
}

.footer-content {
    height: 50px;
    background-color: white;
    color: black;
    text-align:center;
}